.jhf-link {
    text-decoration: none;
    color: black;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    transition: background-position 1s;
    background-position: left bottom;
    cursor: pointer;
}

.jhf-link:hover {
    padding: 0 5px;
    border-radius: 5px;
    background: linear-gradient(
        to right, 
        #cddee5,
        #9ebecb,
        #9e8ac8
    );
    background-size: 250% 80%;
    background-position: right bottom;
    animation: background-position 0.75s;
    
}